@import url(../styles/fonts.css);

body {
    width: 100%;
    display: flex;
    margin: auto;
    background-color: #f5f5f5;
    font-family: 'Open Sans';
    flex-direction: column;
}


main {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
}

section {
    width: 1312px;
    height: 535px;
    display: flex;
    gap: 73px;
    margin: 105px auto;
}



.left-section {
    width: 646px;
    height: 535px;
    display: flex;
    gap: 20px;

}

.photo-list {
    width: 91px;
    height: 535px;
    display: flex;
    flex-flow: wrap;
    row-gap: 20px;
}

.photo-list .photo {
    width: 91px;
    height: 91px;
}

.photo-list .photo img {
    width: 100%;
    border-radius: 10px;
}

.right-section {
    width: 593px;
    height: 535px;
}

h1 {
    font-size: 33px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.04em;
}

.stars {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 11px 0 46px 0;
}

.stars-number {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40.85px;
    letter-spacing: 0.04em;
    color: rgba(105, 48, 109, 1);
}

.colors-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    letter-spacing: 0.02em;
    margin: 41px 0 16px 0;
}

.colors-box {
    width: 124px;
    height: 52px;
    display: flex;
    gap: 20px;
}

.color {
    width: 52px;
    height: 52px;
    gap: 0px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.colors-box .green {
    background: rgba(183, 208, 193, 1);
}

.colors-box .grey {
    background: rgba(204, 200, 201, 1);
}

.button-box {
    width: 593px;
    height: 156px;
    display: flex;
    flex-flow: wrap;
    column-gap: 20px;
    row-gap: 26px;
    margin-top: 41px;
}

button {
    height: 65px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-add-cart {
    width: 482px;
    background: rgba(242, 215, 238, 1);
    color: rgba(105, 48, 109, 1);

    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    letter-spacing: 0.02em;

}

.btn-favorite {
    width: 91px;
    height: 65px;
    border: 1px solid rgba(105, 48, 109, 1);
}

.btn-buy {
    width: 100%;
    background: rgba(105, 48, 109, 1);
    color: white;

    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    letter-spacing: 0.02em;

}

.bottom-section {
    display: flex;
    justify-content: space-between;
    height: 700px;
}

.description-box {
    width: 777px;
}

h3 {
    font-size: 27px;
    font-weight: 600;
    line-height: 36.77px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.description-box p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;

}

.bottom-section>p {
    width: 200px;
    height: 100px;
    align-self: self-end;

    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    letter-spacing: 0.02em;

}